[submodule "Libraries/result"]
	path = Libraries/result
	url = https://github.com/bitwizeshift/result
[submodule "Libraries/spdlog"]
	path = Libraries/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Libraries/glfw"]
	path = Libraries/glfw
	url = https://github.com/glfw/glfw
